.module{
    padding-top: 41px;
}
.module header{
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    left: 0;
    display: block;
}

.module header .step-by-step{
    display: none;
}

@media screen and (min-width: 768px) {
    .module{
        padding-top: 62px;
    }
    .module header .step-by-step{
        display: block;
    }
}

@media screen and (min-width: 1024px) {
    .module--booking{
        padding-top: 190px;
        background: white;
    }
    .module--booking .booking-info{
        position: fixed;
        top: 62px;
        right: 50%;
        margin-left: 0;
        z-index: 99;
        width: 500px;
    }
    .module--booking .booking-info--selecting{
        right: auto;
        left: 50%;
    }

    .module--booking .booking-info--selecting h3{
        width: 133px;
    }
}
@media screen and (min-width: 1200px) {
    .module--booking .booking-info{
        width: 560px;
    }
    .module--booking .booking-info--selecting h3{
        width: 180px;
    }
}