.popup-global{
  position: relative;
  max-width: 560px;
  margin: 0 auto;
  @include border-radius(10px);
  background: rgba(#151515, 0.9);
  text-align: center;
  //@include tablet{
  //  background: image_url('bg-module.jpg');
  //  @include border-radius(5px);
  //  text-align: left;
  //}
  .popup--header{
    color: #8dc63f;
    font-size: 19px;
    font-weight: 300;
    padding: 12px 30px;
    border-bottom: 1px solid #d2b58d;
    //@include tablet{
    //  @include border-radius(5px 5px 0 0);
    //  background-color: #000;
    //  border-bottom: none;
    //}
  }
  .popup--content{
    color: #d2b58d;
    padding: 22px 20px;
    font-size: 15px;
    //@include tablet{
    //  padding: 35px 30px;
    //  color: #333;
    //}
  }
  .button--close{
    margin-top: 22px;
    //@include tablet{
    //  display: none;
    //}
  }

  .mfp-close{
    display: none;
    color: white;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 30px;
    font-family: $font-lato;
    font-weight: 300;
    text-transform: uppercase;
    background-color: #8dc63f;
    @include border-radius(30px);
    @include opacity(1);

    top: -12px;
    right: -12px;
    //@include tablet{
    //  display: block;
    //
    //}
  }
}